[features]
seeds = false
skip-lint = false

[programs.localnet]
atomic_swap = "HbiVxY1bVwZmsC18H8yzFk6tc2Vj2pKKS5BXHThXwVcG"

[programs.devnet]
atomic_swap = "HbiVxY1bVwZmsC18H8yzFk6tc2Vj2pKKS5BXHThXwVcG"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
